.custom *{
    margin-bottom: 50px;
}
  
.main {
    padding-top: 50px;
}

.bg-full {
    position: relative;
    padding-top: 30px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
}
  
.bg-full:before {
    content: 'My new work — here!';
    color: #fff;
    text-align: center;
    position: absolute;
    top: 0;
    left: 20%;
    transform: translateX( -50%);
    height: 150%;
    width: 133.7vw;
    background: linear-gradient(270deg,#0288d1 0,#039be5 35%,#0ca5f0 85%);
}

input[type=search]{
    width: 500px !important;
    background: #fff;
    border-radius: 50px;
    height: 55px;
    padding: 6px 56px 6px 16px;
    margin-top: 8px;
}

#SearchTable_filter{
    position: relative;
    top: -50px;
    left: -550px;
}

.custom{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border: 1px solid #8CC63F ;
    padding: 20px;
    width: 550px;
    height: 800px;
}

h1{
    text-align: center;
}

h1:nth-child(2){
    color: #F57F20;
    font-size: 30px;
    font-weight: bold;
}

p:nth-of-type(3){
    float: right;
}